body{
    margin: 0;
    padding: 0;
    font-size: 16pt; 
    /* Editing the body element to use the Poppins font */
    font-family: "Poppins", sans-serif;
    /* Background Image */
    background-image: url("../images/concrete_seamless.png");
    /* Background Color Backup */
    background-color: white;
  }
  
  header{
    background: #fff;
    border-bottom: 3px solid #50C7C7;
    margin-bottom:20px
  }
  
  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  p {
    padding: 0 30px;
  }
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 2px solid black;
  }


  .nav_item a{
    padding: 10px;
  }
  
  .nav_item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

  .pricing{
    min-height: 475px;
  }

  .card {
    margin: 12px;
    background: #fff;
    border-radius: 7px;
    padding: 0 0 25px 0;
  }

  .card > ul{
    list-style: none;
    padding-left: 5px;
  }
  
  .card > ul li {
    width: 90%;
    margin: 20px auto;
    
  }

.card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 5%;
    border-radius: 7px;
    background: #288080;
    color: white;
    font-size: 1em;
  }
  
  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }
  
  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }

  /* MY EDITS HERE */

  /* Animating logo with keyframes */

  header img {
    animation-name: move;
    animation-duration: 5s;
  }

  @keyframes move
  {
      from {width:25px;}
      to {width: 475px;}
      from { opacity: 0; }
      to { opacity: 1; }
  }

  /* Edit CSS Header Tag with flex */

  header{
    flex: display;
    justify-content: center;
    text-align: center;
  }
  
  /* style ONLY those header elements that are direct children of a card class */

  .card > header{
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
  }

  /* Style the images in the gallery class */

  .gallery img{
    border: solid 10px #50C7C7;
    margin: 10px 10px 10px 10px;
    width: 300px;
  }

  /* Edit CSS for Card */

  .card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;

  }

  /* Edit CSS Nav_links to use flex */

  .nav_links {
    display: flex;
    flex-direction: column;
  }

  /* Edit CSS Gallery to use flex */
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Justify Content for last gallery img */

  .gallery:last-child{
    justify-content: center;
  }
  
  /* Edit CSS for pricing */

  .pricing {
    min-height: 475px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Style Links to not have color when visited */
  .nav_item:visited
  {
    color: #3366CC;
  }

  @media only screen and (min-width: 900px)
  {
      /* make logo as far left as possible */
      header img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;   
      }

      /* move links to side */
      .nav_links {
        display: flex;
        justify-content: right;
        flex-direction: row;
      }

      .pricing {
        display: flex;
        flex-basis: 275px;
      }

      .card {
        display: flex;
        flex-basis: 275px;
      }

      /* header {
        position: fixed;
      } */
  }

  /* This is for reduced motion. We should make the animation duratoin 0 seconds, so the animation does not trigger */
  @media screen and (prefers-reduced-motion: reduce)
  {
    header img {
      animation-duration: 0s;
    }
  }
  
  @media only print
  {

    /* Add font family and remove background image */
    body {
      font-family: Arial, Helvetica;
      background-image: none;
      background-color: whitesmoke;
    }

    /* Edit Nav Links with Flex */

    .nav_links {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    /* Edit Flex for pricing and card */

    .pricing{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .card{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    /* Style Card */

    .card > header {
      background-color: #288088;
      border: solid 2px #45ADAD;
    }

    /* Make gallery invisible */

    #gallery {
      display: none;
    }

    .gallery {
      display: none;
    }

    /* Thumbs Up Emoji */

    .card li:nth-child(2)::after {
      content: "👍";
    }

  }